.hero-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center 70%; /* pushes image content down */
  display: block;
}

.hero-wrapper {
  position: relative !important;
  height: 300px !important;
  overflow: hidden !important;
}


